---
http_interactions:
- request:
    method: get
    uri: https://api.planning-de-garde.fr/v2/gardes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 433915e7703a658ce295390becb622070ea8e2f16bffd4d11c56a661723e403d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8e8f77dbbef88404574af93a581e81a"
    body:
      encoding: UTF-8
      string: '[{"id":23235,"started_on":"2015-05-05","color":"#50D2C2","user":{"id":1,"first_name":"Test","last_name":"User","email":"test.user@gmail.com","portable":"+33612345678","speciality_name":"Anesthésie-Réanimation","city_name":"Lyon"},"planning":{"id":160,"name":"Planning 2","started_on":"2015-05-04","ended_on":"2015-11-01"},"line":{"id":124,"name":"Ligne
        1"}},{"id":23252,"started_on":"2015-05-22","color":"#50D2C2","user":{"id":1,"first_name":"Test","last_name":"User","email":"test.user@gmail.com","portable":"+33612345678","speciality_name":"Anesthésie-Réanimation","city_name":"Lyon"},"planning":{"id":160,"name":"Planning 2","started_on":"2015-05-04","ended_on":"2015-11-01"},"line":{"id":124,"name":"Ligne
        1"}},{"id":23254,"started_on":"2015-05-24","color":"#50D2C2","user":{"id":1,"first_name":"Test","last_n[...]
