---
http_interactions:
- request:
    method: get
    uri: https://api.planning-de-garde.fr/v2/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 433915e7703a658ce295390becb622070ea8e2f16bffd4d11c56a661723e403d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e34791ac9dfc1051ec652d92e57ce64"
    body:
      encoding: UTF-8
      string: '{"id":1,"first_name":"Etienne","last_name":"Depaulis","email":"test@gmail.com","portable":null,"speciality_name":"Anatomie
        et Cytologies pathologiques","city_name":"Lyon"}'
  recorded_at: Sun, 11 Oct 2015 08:10:19 GMT
recorded_with: VCR 2.9.3
