---
http_interactions:
- request:
    method: get
    uri: https://api.planning-de-garde.fr/v2/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 433915e7703a658ce295390becb622070ea8e2f16bffd4d11c56a661723e403d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c53dc0d34e859584cc071b0ebd672dd"
    body:
      encoding: UTF-8
      string: '{"id":1,"first_name":"Test","last_name":"User","email":"test.user@gmail.com","portable":"+33612345678","speciality_name":"Anesthésie-Réanimation","city_name":"Lyon"}'
  recorded_at: Sun, 25 Oct 2015 06:15:54 GMT
recorded_with: VCR 2.9.3
