---
http_interactions:
- request:
    method: get
    uri: https://app.planning-de-garde.fr/api/v1/me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 433915e7703a658ce295390becb622070ea8e2f16bffd4d11c56a661723e403d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4dbb4716dd1f5c3fc06f605ea1f00e56"
    body:
      encoding: UTF-8
      string: '{"user":{"id":1,"email":"test@gmail.com","first_name":"Etienne","last_name":"Depaulis","speciality_name":"Biologie
        médicale","city_name":"Lyon"}}'
  recorded_at: Thu, 12 Feb 2015 09:49:23 GMT
recorded_with: VCR 2.9.3
